<!DOCTYPE html>
<html lang="en">

<head>
    <title>Face Shields</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Mukta:300,400,700">
    <link rel="stylesheet" href="fonts/icomoon/style.css">

    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="css/magnific-popup.css">
    <link rel="stylesheet" href="css/jquery-ui.css">
    <link rel="stylesheet" href="css/owl.carousel.min.css">
    <link rel="stylesheet" href="css/owl.theme.default.min.css">


    <link rel="stylesheet" href="css/aos.css">

    <link rel="stylesheet" href="css/style.css">

</head>

<body>

    <div class="site-wrap">
        <header class="site-navbar" role="banner">
            <div class="site-navbar-top">
                <div class="container">
                    <div class="row align-items-center">

                        <div style="color: aliceblue !important;" class="col-6 col-md-4 order-2 order-md-1 text-left">
                            <a style="background-color:seagreen; border: none;" href="https://www.gofundme.com/f/he5b2-3d-printed-face-shields-for-health-care-workers" target="_blank" class="btn btn-sm btn-primary">donate</a>
                        </div>

                        <div class="col-12 mb-3 mb-md-0 col-md-4 order-1 order-md-2 text-center">
                            <div class="site-logo">
                                <a href="/" class="js-logo-clone">Face Shields</a>
                            </div>
                        </div>

                        <!-----   
            <div class="col-6 col-md-4 order-3 order-md-3 text-right">
              <div class="site-top-icons">
                <ul>
                  <li><a href="https://www.gofundme.com/f/he5b2-3d-printed-face-shields-for-health-care-workers"><span class="icon icon-person"></span></a></li>
                    
                  <li>
                    <a href="cart.html" class="site-cart">
                      <span class="icon icon-shopping_cart"></span>
                      <span class="count">2</span>
                    </a>
                  </li> 
                  <li class="d-inline-block d-md-none ml-md-0"><a href="#" class="site-menu-toggle js-menu-toggle"><span class="icon-menu"></span></a></li>
                </ul>
              </div> 
            </div>
 -->

                    </div>
                </div>
            </div>
            <nav class="site-navigation text-right text-md-center" role="navigation">
                <div class="container">
                    <ul class="site-menu js-clone-nav d-none d-md-block">


                        <li><a href="/">Home</a></li>

                        <li class="active">
                            <a href="about">About</a>
                        </li>



                        <li><a href="contact">Contact</a></li>




                    </ul>
                </div>
            </nav>
        </header>

        <div class="bg-light py-3">
            <div class="container">
                <div class="row">
                    <div class="col-md-12 mb-0"><a href="/">Home</a> <span class="mx-2 mb-0">/</span> <strong class="text-black">About</strong></div>
                </div>
            </div>
        </div>

        <div class="site-section border-bottom" data-aos="fade">
            <div class="container">
                <div class="row mb-5">
                    <div class="col-md-6">
                        <div class="block-16">
                            <div class="site-section-heading pt-3 mb-4">
                                <h2 class="text-black">How We Started</h2>
                            </div>
                            <p>Healthcare workers like my parents are helping and battling out in the frontlines during the COVID-19 outbreak. Not to mention there are several other employees working in various different industries whose <a href="https://time.com/5817435/covid-19-mental-health-coronavirus/"
                                    target="_blank">health</a> needs to be cared for. However, there is a shortage of masks and other essential items. To ensure their protection we are producing face shields.</p>
                            <p>End of the day, we are just a bunch of highschoolers who are trying to utilize our creativity and spirit to contribute to the world!</p>

                        </div>
                    </div>
                    <div class="col-md-1"></div>
                    <div class="col-md-5">
                        <figure>
                            <img src="images/masks.PNG" alt="Image placeholder" class="img-fluid rounded">
                            <!----           <a href="https://vimeo.com/channels/staffpicks/93951774" class="play-button popup-vimeo"><span class="ion-md-play"></span></a>     -->


                        </figure>


                    </div>
                </div>
            </div>
        </div>
        <!---------------------
    <div class="site-section border-bottom" data-aos="fade">
      <div class="container">
        <div class="row justify-content-center mb-5">
          <div class="col-md-7 site-section-heading text-center pt-4">
            <h2>The Team</h2>
          </div>
        </div>
        <div class="row">
          <div class="col-md-6 col-lg-4">
  
            <div class="block-38 text-center">
              <div class="block-38-img">
                <div class="block-38-header">
                  <img src="images/subash.jpg" alt="Image placeholder" class="mb-4">
                  <h3 class="block-38-heading h4">Subash Shibu</h3>
                  <p class="block-38-subheading">Public Relations / Website Managment</p>
                </div>
                <div class="block-38-body">
                  <p>I created the website you are using right now! I also keep in communication with the rest of the clients and volunteers. </p>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-6 col-lg-4">
            <div class="block-38 text-center">
              <div class="block-38-img">
                <div class="block-38-header">
                  <img src="images/jeff.png" alt="Image placeholder" class="mb-4">
                  <h3 class="block-38-heading h4">Jeff Cheema</h3>
                  <p class="block-38-subheading">Back end developer</p>
                </div>
                <div class="block-38-body">
                  <p>I coded the back end of the website. I am also currently working on the client/donor web application.  </p>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-6 col-lg-4">
            <div class="block-38 text-center">
              <div class="block-38-img">
                <div class="block-38-header">
                  <img src="images/koji.jpg" alt="Image placeholder" class="mb-4">
                  <h3 class="block-38-heading h4">Koji Hirai</h3>
                  <p class="block-38-subheading">Shipment and Production managment</p>
                </div>
                <div class="block-38-body">
                  <p>I 3D print the face shields and send out the files and information to other volunteers for 3D printing.</p>
                </div>
              </div>
            </div>
          </div>
         
        </div>
      </div>
    </div>
  
--------->
        <!-----      
    <div class="site-section site-section-sm site-blocks-1 border-0" data-aos="fade">
      <div class="container">
        <div class="row">
          <div class="col-md-6 col-lg-4 d-lg-flex mb-4 mb-lg-0 pl-4" data-aos="fade-up" data-aos-delay="">
            <div class="icon mr-4 align-self-start">
              <span class="icon-truck"></span>
            </div>
            <div class="text">
              <h2 class="text-uppercase">Free Shipping</h2>
              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus at iaculis quam. Integer accumsan tincidunt fringilla.</p>
            </div>
          </div>
          <div class="col-md-6 col-lg-4 d-lg-flex mb-4 mb-lg-0 pl-4" data-aos="fade-up" data-aos-delay="100">
            <div class="icon mr-4 align-self-start">
              <span class="icon-refresh2"></span>
            </div>
            <div class="text">
              <h2 class="text-uppercase">Free Returns</h2>
              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus at iaculis quam. Integer accumsan tincidunt fringilla.</p>
            </div>
          </div>
          <div class="col-md-6 col-lg-4 d-lg-flex mb-4 mb-lg-0 pl-4" data-aos="fade-up" data-aos-delay="200">
            <div class="icon mr-4 align-self-start">
              <span class="icon-help"></span>
            </div>
            <div class="text">
              <h2 class="text-uppercase">Customer Support</h2>
              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus at iaculis quam. Integer accumsan tincidunt fringilla.</p>
            </div>
          </div>
        </div>
      </div>
    </div>
         -->
        <footer class="site-footer border-top">
            <div class="container">
                <div class="row">


                    <div class="col-md-6 col-lg-3">
                        <div class="block-5 mb-5">
                            <h3 class="footer-heading mb-4">Location</h3>
                            <ul class="list-unstyled">
                                <li class="address">Dublin, California</li>


                            </ul>
                        </div>



                    </div>

                    <div class="col-md-6 col-lg-3">
                        <div class="block-5 mb-5">
                            <h3 class="footer-heading mb-4">Phone</h3>
                            <ul class="list-unstyled">
                                <li class="phone"><a href="tel://23923929210">609-455-8393</a></li>
                            </ul>
                        </div>



                    </div>

                    <div class="col-md-6 col-lg-3">
                        <div class="block-5 mb-5">
                            <h3 class="footer-heading mb-4">Email</h3>
                            <ul class="list-unstyled">
                                <li class="email">subashshibu8256@gmail.com</li>
                            </ul>
                        </div>



                    </div>

                </div>
                <div class="row pt-5 mt-5 text-center">
                    <div class="col-md-12" style="font-size: 0.1px;">
                        <p>
                            <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                            Copyright &copy;
                            <script data-cfasync="false" src="/cdn-cgi/scripts/5c5dd728/cloudflare-static/email-decode.min.js"></script>
                            <script>
                                document.write(new Date().getFullYear());
                            </script> All rights reserved | This template is made with <i class="icon-heart" aria-hidden="true"></i> by <a href="https://colorlib.com" target="_blank" class="text-primary">Colorlib</a>
                            <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                        </p>
                    </div>

                </div>
            </div>
        </footer>
    </div>

    <script src="js/jquery-3.3.1.min.js"></script>
    <script src="js/jquery-ui.js"></script>
    <script src="js/popper.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/owl.carousel.min.js"></script>
    <script src="js/jquery.magnific-popup.min.js"></script>
    <script src="js/aos.js"></script>

    <script src="js/main.js"></script>

</body>

</html>